<div class='container text-center' style='margin-top: 15vh;'>
    <h2>Scan The QR Code To Access Counter Control</h2>

    <div>
        <video id="video" width="400px" height="400px"></video>
    </div>
</div>

<%= javascript_pack_tag("basic-qr-code-reader") %>